<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>home</mat-icon>
    <span [routerLink]="['/']">Greenfield</span>
    
    <span class="gf-spacer"></span>

    <button mat-button [matMenuTriggerFor]="participantMenu">Participants</button>
    <mat-menu #participantMenu="matMenu">
      <button mat-menu-item [routerLink]="['/Person']"><mat-icon>face</mat-icon> Person</button>      
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="assetMenu">Assets</button>
    <mat-menu #assetMenu="matMenu">
      <button mat-menu-item [routerLink]="['/Idea']"><mat-icon>lightbulb</mat-icon> Ideas</button>
      <button mat-menu-item [routerLink]="['/PersonalWallet']"><mat-icon>account balance wallet</mat-icon> Wallets</button>      
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
