<div class="ng-star-inserted">
    <div class="board-wrapper">
    <div class="board-title">
      <div class="board-title-spacer">{{ boardName }}</div>
  
      <button class="mat-icon-button" mat-icon-button="" type="button">
        <span class="mat-button-wrapper">
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">          
          </mat-icon>
        </span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </div>  
    <div class="board-body" dnd-droppable (onDropSuccess)="simpleDrop=$event">
      <div *ngFor="let idea of ideas">
        <app-card [idea]="idea"></app-card>        
      </div>
    </div>
  </div>
</div>